.top_menu{border-bottom:1px solid #92CCFFFF}
.top_menu .top_menu_btn{padding-top: .14rem; padding-bottom: .14rem; font-size:.17rem;}
.main_wrapper .top_menu .back { font-size: .25rem; line-height: .45rem; padding-top: 0; padding-bottom: 0; padding-left: 7px;}
.top_menu_btn a { color: #fff; }
